<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="MSTDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MST.QA; Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="MST.QA.Server.Managers.Managers.ProjectManager">
        <endpoint address="net.tcp://localhost:8009/ProjectService"
                  binding="netTcpBinding"
                  contract="MST.QA.Server.Contracts.ServiceContracts.IProjectService"/>
      </service>
    </services>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>